* {
  margin: 0;
  padding: 0;
}

.inscription-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.inscription-container h1 {
  color: var(--orange);
  text-align: center;
}

.inscription-container p {
  text-align: center;
  margin-top: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.input-box input {
  outline: none;
  border: 2px var(--light-grey) solid;
  width: 500px;
  padding: 15px 20px;
  border-radius: 8px;
}

.input-container .button button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--orange);
  color: var(--blanc);
  border-radius: 8px;
  padding: 10px 20px;
}

.input-container .button button:hover {
  background-color: var(--orange);
}

.input-container .button {
  margin-top: 20px;
}

.input-container input:not(:focus):invalid {
  color: #fff;
  border: 2px solid #c10000;
  background-color: var(--orange);
}

.input-container input:focus {
  border: 2px solid var(--orange);
}
