@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: var(--noir);
  text-decoration: none;
}

:root {
  --rose: #ee2073;
  --orange: #f47452;
  --blanc: #fff;
  --noir: #000;
  --light-grey: #bbbbbb40;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  background-color: var(--light-grey);
}

.navbar-container a:hover {
  color: var(--rose);
}

.navbar-links {
  display: flex;
  gap: 60px;
}

.logo-container img {
  width: 80px;
}

.profil-picture-container img {
  width: 45px;
}

/*footer*/


.logo .logo-container img {
  width: 100px;
}

footer {
  background-color: var(--light-grey);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.left {
  width: 20%;
}

.social-media {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  color: var(--noir);
  font-size: 22px;
}

.contact-us h3 {
  margin-bottom: 12px;
  color: var(--rose);
}

.contact-us li {
  margin-bottom: 8px;
}

.subscribe h3 {
  margin-bottom: 12px;
  color: var(--rose);
}

.subscribe .input input {
  display: flex;
  justify-content: space-between;
  border: none;
  background: none;
  outline: none;
  margin-top: 12px;
  background-color: var(--blanc);
  color: var(--noir);
  width: 300px;
  padding: 12px 20px;
  border-radius: 10px;
}

.subscribe .input input:not(:focus):invalid {
  border: 2px solid var(--rose);
}

.subscribe .input input:focus {
  border: 2px solid var(--orange);
}

footer hr {
  margin: 15px 50px;
}

.copyright {

  padding: 8px 50px 25px 50px;
}
/*footer*/
